[submodule "Workshops/aws-lambda-zombie-workshop"]
	path = Workshops/aws-lambda-zombie-workshop
	url = git@github.com:Panology/aws-lambda-zombie-workshop.git
[submodule "Workshops/aws-serverless-website-workshop"]
	path = Workshops/aws-serverless-website-workshop
	url = git@github.com:Panology/aws-serverless-website-workshop.git
[submodule "Workshops/serverless-chatbots-workshop"]
	path = Workshops/serverless-chatbots-workshop
	url = git@github.com:Panology/serverless-chatbots-workshop.git
[submodule "git-secrets"]
	path = git-secrets
	url = git@github.com:awslabs/git-secrets.git
